*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --font-size_s: .8rem;
  --font-size_m: 1rem;
  --font-size_l: 1.2rem;
  --font-size_xl: 1.5rem;
  --font-size_xxl: 2rem;
  --color-blackbg-100: #040404;
  --color-blackbg-200: #8a8b8d;
  --color-blackbg-300: #4d4a4a;
  --color-blackbg-400: #000000;
  --color-whitebg-100: #a3a2a2;
  --color-whitebg-200: #dfdfdf;
  --color-whitebg-300: #ebebeb;
  --color-whitebg-400: #ffffff;
  --text-dark-100: #4d4a4a;
  --text-dark-200: #8a8b8d;
  --text-dark-300: #4d4a4a;
  --text-dark-400: #000000;
  --text-light-100: #a3a2a2;
  --text-light-200: #dfdfdf;
  --text-light-300: #ebebeb;
  --text-light-400: #ffffff;
  --text-light: #4d4d4d;
  --color-accent-1: #1c64ff;
  --color-accent-2: #1cff2f;
  --color-accent-3: #ff1cbb;
  --color-accent-4: #ff371c;
}

body.dark {
  --color-blackbg-100: #a3a2a2;
  --color-blackbg-200: #dfdfdf;
  --color-blackbg-300: #ebebeb;
  --color-blackbg-400: #ffffff;
  --color-whitebg-100: #040404;
  --color-whitebg-200: #8a8b8d;
  --color-whitebg-300: #4d4a4a;
  --color-whitebg-400: #000000;
  --text-dark-100: #a3a2a2;
  --text-dark-200: #dfdfdf;
  --text-dark-300: #ebebeb;
  --text-dark-400: #ffffff;
  --text-light: #ebebeb;
  --text-light-100: #040404;
  --text-light-200: #8a8b8d;
  --text-light-300: #4d4a4a;
  --text-light-400: #000000;
}

h1, .h1 {
  font-size: var(--font-size_xxl);
}

h2, .h2 {
  font-size: var(--font-size_xl);
}

h3, .h3 {
  font-size: var(--font-size_l);
}

.h4 {
  font-size: var(--font-size_s);
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.js {
  justify-content: space-between;
  align-items: center;
}

.my1 {
  margin: 1rem 0;
}

.my_5 {
  margin: 0.5rem 0;
}

.mt1 {
  margin-top: 1rem;
}

.my2 {
  margin: 1.5rem 0;
}

.my3 {
  margin: 1.8rem 0;
}

.my4 {
  margin: 2rem 0;
}

.mx1 {
  margin: 0 1rem;
}

.mx2 {
  margin: 0 1.5rem;
}

.mx3 {
  margin: 0 1.8rem;
}

.mb2 {
  margin-bottom: 3rem;
}

.mx4 {
  margin: 0 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.p1 {
  padding: 1rem;
}

.py1 {
  padding: 1rem 0;
}

.py2 {
  padding: 1.5rem 0;
}

.py3 {
  padding: 1.8rem 0;
}

.py4 {
  padding: 2rem 0;
}

.px1 {
  padding: 0 1rem;
}

.px2 {
  padding: 0 1.5rem;
}

.px3 {
  padding: 0 1.8rem;
}

.px4 {
  padding: 0 2rem;
}

body {
  font-family: "System ui", arial;
  font-size: var(--font-size_s);
  width: 100%;
  position: relative;
  background-color: var(--color-whitebg-400);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1660px;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.btn-action {
  padding: 0.5rem 2rem;
  background-color: #90ee90;
}

.prof_img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}
.prof_img img {
  width: 100%;
  height: 120%;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero h1 {
  margin-top: 3rem;
  margin-left: 6rem;
  font-size: 1.5rem;
  color: #4d4a4a;
}
.hero .login {
  position: absolute;
  left: 6rem;
  top: 6.5rem;
  background-color: rgba(235, 235, 235, 0.7);
  padding: 2rem 3rem;
  width: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}
.hero .login h2 {
  margin-bottom: 1rem;
}
.hero .login p {
  font-size: 0.8rem;
  color: #4d4a4a;
}
.hero .login p.err {
  text-align: center;
  background-color: rgba(241, 145, 145, 0.5);
  padding-block: 0.5rem;
  border-radius: 4px;
  color: red;
}
.hero .login p:not(.err) {
  margin-bottom: 1rem;
}
.hero .login .formControl {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: 1px solid #4d4a4a;
  margin-block: 1rem;
  position: relative;
  border-radius: 4px;
}
.hero .login .formControl input {
  width: 90%;
  padding: 0.2rem 0.5rem;
  outline: none;
  border: none;
  background-color: transparent;
}
.hero .login .formControl i {
  position: absolute;
  top: 0.75rem;
  right: 0.8rem;
  color: #8a8b8d;
}
.hero .login .formControl i:is(.password) {
  cursor: pointer;
}
.hero .login .formControl i:is(.password).active::before {
  color: #4d4a4a;
  content: "\f070";
}
.hero .login span {
  margin-top: 1rem;
  text-transform: uppercase;
}
.hero .login button {
  width: 100%;
  margin-block: 1rem 2rem;
  padding: 0.5rem;
  background-color: #4d4a4a;
  border: none;
  color: #ebebeb;
  border-radius: 5px;
  cursor: pointer;
}
.hero .login hr {
  margin-bottom: 1rem;
}

.sidebar {
  width: 230px;
  height: 100%;
  max-height: 780px;
  position: absolute;
  top: 0;
  background-color: var(--color-whitebg-300);
}
.sidebar__header {
  margin-bottom: 1rem;
  background-color: var(--color-whitebg-400);
  margin: 0.6rem 0.3rem 1.5rem 0.3rem;
  border-radius: 7px;
  padding: 1.5rem 1rem;
}
.sidebar__header h1 {
  color: var(--text-dark-300);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar__nav {
  width: 100%;
}
.sidebar__nav .nav__list {
  width: 100%;
}
.sidebar__nav .nav__list .list__item {
  width: 100%;
}
.sidebar__nav .nav__list .list__item .item__link {
  display: block;
  width: 100%;
  color: var(--text-dark-300);
  text-transform: uppercase;
  position: relative;
  padding: 1rem 0 1rem 1rem;
  cursor: pointer;
}
.sidebar__nav .nav__list .list__item .item__link:hover {
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
}
.sidebar__nav .nav__list .list__item .item__link:hover i.arrow {
  color: var(--text-light-300);
}
.sidebar__nav .nav__list .list__item .item__link.active {
  color: var(--text-light-300);
  background-image: linear-gradient(to right, var(--color-blackbg-300), var(--color-blackbg-300), var(--color-blackbg-300), rgba(77, 74, 74, 0.4039215686), var(--color-whitebg-400));
}
.sidebar__nav .nav__list .list__item .item__link.active i.arrow {
  color: var(--text-dark-300);
}
.sidebar__nav .nav__list .list__item .item__link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--color-accent-1);
}
.sidebar__nav .nav__list .list__item .item__link i {
  margin-right: 1rem;
}
.sidebar__nav .nav__list .list__item .item__link i.arrow {
  margin-left: 95px;
  color: var(--text-dark-300);
}
.sidebar__nav .nav__list .list__item .item__link ol {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
}
.sidebar__nav .nav__list .list__item .item__link ol.hide {
  display: flex;
  flex-direction: column;
}
.sidebar__nav .nav__list .list__item .item__link ol li {
  padding-right: 1rem;
}
.sidebar__nav .nav__list .list__item .item__link ol li a {
  display: block;
  font-size: 0.7rem;
  padding: 0.6rem 0 0.6rem 0.6rem;
  color: var(--text-dark-300);
  margin-bottom: 0.2rem;
  border-radius: 5px;
  background-color: var(--color-whitebg-300);
}
.sidebar__nav .nav__list .list__item .item__link ol li a:hover {
  color: var(--text-dark-300);
  background-color: var(--color-whitebg-300);
  opacity: 0.7;
}
.sidebar__nav .nav__list .list__item .item__link ol li a.active {
  background-color: var(--color-accent-1);
  background-image: none;
}
.sidebar__nav .nav__list .list__item .item__link ol li a.active::before {
  width: 0;
}
.sidebar__footer {
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem;
  background-color: var(--color-blackbg-300);
  margin: 1rem;
  border-radius: 5px;
  color: var(--text-light-300);
  box-shadow: 5px 5px 15px rgba(var(--color-blackbg-400), 0.7);
}
.sidebar__footer h3 {
  font-size: 0.8rem;
  text-transform: capitalize;
  margin: 0.5rem 0;
  font-weight: 300;
  letter-spacing: 0.03rem;
}
.sidebar__footer p {
  text-transform: capitalize;
  letter-spacing: 0.03rem;
  margin: 0.2rem 0;
}

.btn {
  padding: 0.7rem 3rem;
  width: 100%;
  background-color: var(--color-accent-1);
  border: none;
  color: var(--text-light-300);
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(var(--color-blackbg-400), 0.5);
  cursor: pointer;
}
.btn.red {
  background-color: var(--color-accent-4);
}
.btn:hover.red {
  background-color: var(--color-accent-4);
  box-shadow: 0px 0px 15px var(--color-accent-4);
}
.btn:hover {
  background-color: var(--color-accent-1);
  top: -2px;
  box-shadow: 0px 0px 15px var(--color-accent-1);
}

.form-container {
  width: 100%;
  justify-content: space-between;
}

.new {
  align-items: center;
  width: 260px;
  margin-right: 1rem;
}
.new .formControl {
  margin-bottom: 1.5rem;
  width: 90%;
}

.main {
  width: calc(100% - 230px);
  background-color: var(--color-whitebg-400);
  height: 100%;
  margin-left: 230px;
  position: relative;
  padding-top: 5px;
}
.main .wrapper {
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: auto;
  scrollbar-width: none;
}
.main .wrapper::-webkit-scrollbar {
  display: none;
}
.main .wrapper h2 {
  margin: 1rem;
  text-transform: uppercase;
}
.main .wrapper h2.h4 {
  letter-spacing: 0.15rem;
  color: var(--color-accent-1);
}
.main__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4.7rem;
  width: 99%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--color-whitebg-300);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main__header h2 {
  font-weight: 400;
  color: var(--text-dark-300);
  text-transform: uppercase;
}
.main__header .search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem 0;
  width: 500px;
  min-width: 300px;
  background-color: var(--color-whitebg-400);
  border-radius: 4px;
}
.main__header .search__input {
  line-height: 1.2;
  letter-spacing: 1px;
  width: 78%;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background: transparent;
  background-color: var(--color-whitebg-400);
  outline: none;
  border: none;
  color: var(--text-dark-300);
}
.main__header .search__btn {
  width: 20%;
  padding: 0.3rem 0;
  margin-right: 0.2rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main__header .search__btn:hover {
  opacity: 0.7;
}
.main__header .user {
  width: 200px;
  min-width: 150px;
  height: 35px;
  background-color: var(--color-whitebg-400);
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--text-dark-300);
  cursor: pointer;
  align-items: center;
}
.main__header .user span {
  width: 45px;
  height: 45px;
  position: relative;
  left: -10px;
  border: 3px solid rgba(77, 74, 74, 0.5);
  background-color: var(--color-whitebg-400);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--text-dark-300);
  align-items: center;
  justify-content: center;
}
.main__header .user p {
  color: var(--text-dark-300);
}
.main__header .user i {
  color: var(--text-dark-300);
  position: absolute;
  right: 1rem;
}
.main__header .userdetails {
  position: absolute;
  right: 1rem;
  top: 4rem;
  background-color: white;
  border: 1px solid var(--text-dark-200);
  border-radius: 5px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  transition: 0.5s ease;
  z-index: 1000;
  padding: 0 0.2rem;
}
.main__header .userdetails p {
  padding: 0.3rem 0;
  width: 100%;
  color: var(--text-dark-300);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-whitebg-300);
}
.main__header .userdetails a {
  margin: 0.2rem;
  font-size: 0.8rem;
  padding: 0.4rem 0 !important;
  width: 100%;
  color: var(--text-dark-200);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.main__header .userdetails a:hover, .main__header .userdetails a:focus {
  background-color: var(--color-whitebg-300);
  color: var(--text-dark-400);
}
.main__header .userdetails button {
  padding: 0.3rem 4rem;
  color: var(--text-dark-200);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  margin-bottom: 0.2rem;
  background-color: transparent;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.main__header .userdetails button:hover, .main__header .userdetails button:focus {
  background-color: var(--color-whitebg-300);
  color: var(--text-dark-400);
}
.main__table, .main .unapproved__table {
  width: 99%;
  margin: 0 auto 1rem auto;
}
.main__table table, .main .unapproved__table table {
  border-radius: 5px;
  width: 100%;
  margin-top: 0.5rem;
  text-align: left;
  overflow: hidden;
  border-collapse: collapse;
  border-top: 1px solid #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.main__table table thead, .main .unapproved__table table thead {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.main__table table thead tr, .main .unapproved__table table thead tr {
  background-color: #4d4a4a !important;
}
.main__table table th, .main .unapproved__table table th {
  color: #ebebeb;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.main__table table th.tc, .main .unapproved__table table th.tc {
  text-align: center;
}
.main__table table td, .main .unapproved__table table td {
  padding: 0.5rem 0.5rem;
}
.main__table table td.tc, .main .unapproved__table table td.tc {
  text-align: center;
}
.main__table table td a, .main .unapproved__table table td a {
  color: #1c64ff;
}
.main__table table td a.edit, .main .unapproved__table table td a.edit {
  padding: 0.2rem 0.8rem;
  margin-left: 5px;
  cursor: pointer;
  color: #ebebeb;
  background-color: #1c64ff;
  border-radius: 4px;
}
.main__table table td a.edit:hover, .main .unapproved__table table td a.edit:hover {
  background-color: blue;
}
.main__table table td button, .main .unapproved__table table td button {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ebebeb;
}
.main__table table td button.grant, .main .unapproved__table table td button.grant {
  background-color: rgba(245, 8, 185, 0.5);
}
.main__table table td button.grant:hover, .main .unapproved__table table td button.grant:hover {
  background-color: rgb(245, 8, 185);
}
.main__table table td button.enable, .main .unapproved__table table td button.enable {
  background-color: rgba(0, 128, 0, 0.5);
}
.main__table table td button.enable:hover, .main .unapproved__table table td button.enable:hover {
  background-color: green;
}
.main__table table td button.disable, .main .unapproved__table table td button.disable {
  background-color: rgba(80, 82, 80, 0.5);
}
.main__table table td button.disable:hover, .main .unapproved__table table td button.disable:hover {
  background-color: black;
}
.main__table table td span, .main .unapproved__table table td span {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
}
.main__table table td span.approved, .main .unapproved__table table td span.approved {
  background-color: rgba(0, 128, 0, 0.5);
}
.main__table table td span.pending, .main .unapproved__table table td span.pending {
  background-color: rgba(80, 82, 80, 0.5);
}
.main__table table td span.awaiting, .main .unapproved__table table td span.awaiting {
  background-color: rgba(190, 190, 194, 0.5);
}
.main__table table td span.due, .main .unapproved__table table td span.due {
  background-color: rgba(255, 136, 0, 0.5);
}
.main__table table td span.overdue, .main .unapproved__table table td span.overdue {
  background-color: rgba(255, 0, 0, 0.5);
}
.main__table table td span.paid, .main .unapproved__table table td span.paid {
  background-color: rgba(0, 26, 255, 0.5);
}
.main__table table td span.in, .main .unapproved__table table td span.in {
  background-color: rgba(0, 26, 255, 0.5);
}
.main__table table td span.out, .main .unapproved__table table td span.out {
  background-color: rgba(255, 0, 0, 0.5);
}
.main__table table tr:nth-child(odd), .main .unapproved__table table tr:nth-child(odd) {
  background-color: #ffffff;
}
.main__table table tr:nth-child(even), .main .unapproved__table table tr:nth-child(even) {
  background-color: #ebebeb;
}
.main .unapproved__table {
  padding: 1rem 0;
}
.main .action__btn {
  width: 99%;
  margin: 2rem auto 0.7rem auto;
  justify-content: end;
}
.main .action__btn.jcs {
  margin-top: 0;
  justify-content: flex-start;
}
.main .action__btn a {
  background-color: #ff641c;
  padding: 0.4rem 1rem;
  color: var(--text-light-300);
  border-radius: 4px;
}
.main .action__btn a i {
  margin-left: 0.5rem;
}
.main .action__btn a.disable {
  background-color: var(--color-blackbg-300);
  margin-left: 1rem;
  padding: 0.7rem 1rem;
}
.main .action__btn a.disable:hover {
  background-color: var(--color-blackbg-400);
  top: -2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.main .action__btn button {
  cursor: pointer;
  padding: 0.7rem 3rem;
  margin-left: 1rem;
  background-color: var(--color-accent-1);
  border: none;
  color: var(--text-light-300);
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.main .action__btn button.mro {
  margin-left: 0;
}
.main .action__btn button:hover {
  background-color: var(--color-accent-1);
  top: -2px;
  box-shadow: 0px 0px 15px var(--color-accent-1);
}
.main .action__btn button.disable {
  background-color: var(--color-blackbg-300);
}
.main .action__btn button.disable:hover {
  background-color: var(--color-blackbg-400);
  top: -2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.main .filter {
  width: 99%;
  margin: 0.7rem auto;
  padding: 1rem;
  background-color: var(--color-whitebg-300);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main .filter button {
  padding: 0.7rem 2rem;
  margin-left: 0.6rem;
  background-color: var(--color-accent-1);
  border: none;
  color: var(--text-light-300);
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.main .filter button:hover {
  background-color: var(--color-accent-1);
  top: -2px;
  box-shadow: 0px 0px 15px var(--color-accent-1);
}
.main .filter button.disable {
  background-color: var(--color-blackbg-300);
}
.main .filter button.disable:hover {
  background-color: var(--color-blackbg-400);
  top: -2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.main .filter__actions a:nth-of-type(1).active {
  background-color: var(--color-accent-1);
  padding: 0.4rem 0.8rem;
  color: var(--text-light-300);
  border-radius: 4px;
  cursor: pointer;
}
.main .filter__actions a:nth-of-type(1).active i {
  font-size: 10px;
  margin-left: 0.5rem;
}
.main .filter__actions a:nth-of-type(1).active::before {
  position: absolute;
  width: 0px;
  height: 0;
}
.main .filter__actions a:nth-of-type(1).active:hover::before {
  width: 0px;
}
.main .filter__actions a {
  margin-right: 1rem;
  padding: 0.4rem 0;
  font-weight: 700;
  position: relative;
  color: var(--text-dark-300);
  transition: all 0.5s ease-in-out;
  isolation: isolate;
  cursor: pointer;
}
.main .filter__actions a.active {
  color: var(--color-accent-1);
  border-bottom: 2px solid var(--color-accent-1);
}
.main .filter__actions a:not(.active)::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0%;
  background-color: var(--color-blackbg-300);
  height: 2px;
  transition: all 0.5s ease-in-out;
}
.main .filter__actions a:not(.active):hover::before {
  width: 100%;
}
.main .filter__time .day, .main .filter__time .year, .main .filter__time .month {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-block: 0.2rem;
  background-color: var(--color-blackbg-200);
  border-radius: 3px;
  color: var(--text-light-300);
  cursor: pointer;
}
.main .filter__time .day.active, .main .filter__time .year.active, .main .filter__time .month.active {
  background-color: var(--color-accent-2);
}
.main .filter__time input {
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
  outline: none;
  border-radius: 3px;
  display: none;
}
.main .filter__time a:nth-of-type(1) {
  padding: 0.35rem 0.5rem;
  color: var(--text-dark-300);
  border-radius: 4px;
  cursor: pointer;
}
.main .filter__time a:nth-of-type(1).active {
  background-color: var(--color-accent-2);
  color: var(--text-light-300);
}
.main .apply {
  width: 99%;
  margin: 1rem auto 1rem auto;
  padding: 0 1rem;
}
.main .apply h3 {
  margin-bottom: 1rem;
}
.main .apply .title {
  font-size: 1rem;
  position: relative;
  isolation: isolate;
  color: var(--text-dark-300);
}
.main .apply .title::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: var(--color-blackbg-300);
}
.main .apply .form {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.main .apply .form__group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.main .apply .form__group.less {
  gap: 2rem 1rem;
}
.main .apply .form div .btn {
  width: 50%;
  padding: 0.4rem 1rem;
  background-color: var(--color-blackbg-300);
  font-size: 0.7rem;
  box-shadow: none;
}
.main .apply .form div .btn:hover {
  top: 0;
  box-shadow: none;
  opacity: 0.8;
}
.main .apply .form .hiddenone, .main .apply .form .hiddentwo {
  display: none;
}
.main .apply .form .formControl {
  background-color: var(--color-whitebg-300);
  padding: 1rem 0.6rem;
}
.main .apply .form .formControl.bgb {
  background-color: var(--color-accent-1);
}
.main .apply .form .formControl.bgb label {
  color: var(--color-blackbg-400);
}
.main .apply .form .formControl.bgb div {
  position: relative;
}
.main .apply .form .formControl.bgb div input {
  width: 100%;
  padding-right: 2.8rem;
}
.main .apply .form .formControl.bgb div span {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  cursor: pointer;
  background-color: var(--color-whitebg-200);
  border: none;
}
.main .apply .form .formControl.bgb div span i {
  color: var(--text-dark-100);
}
.main .apply .form .formControl label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: capitalize;
  color: var(--color-accent-1);
}
.main .apply .form .formControl select {
  padding: 0.3rem 0.5rem;
  width: 60%;
  border: 1px solid var(--color-whitebg-100);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .apply .form .formControl select:focus, .main .apply .form .formControl select:hover {
  outline: none;
}
.main .apply .form .formControl select option {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0px;
}
.main .apply .form .formControl input[type=text], .main .apply .form .formControl input[type=password], .main .apply .form .formControl input[type=file], .main .apply .form .formControl input[type=date], .main .apply .form .formControl input[type=month], .main .apply .form .formControl input[type=number] {
  border: 1px solid var(--color-whitebg-100);
  padding: 0.6rem 0.5rem;
  color: var(--text-dark-300);
  outline: none;
  border-radius: 3px;
  letter-spacing: 0.08rem;
  background-color: var(--color-whitebg-400);
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .apply .form .formControl textarea {
  height: 5rem;
  resize: none;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
  color: var(--text-dark-300);
  border: 1px solid var(--color-whitebg-100);
  outline: none;
  background-color: var(--color-whitebg-400);
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .apply .form .formControl div {
  align-items: center;
  width: 100%;
}
.main .apply .form .formControl div span {
  margin-right: 2px;
  border: 1px solid var(--color-whitebg-100);
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
}
.main .apply .form .formControl div div {
  margin-top: 0.4rem;
  gap: 5px;
}
.main .main__user {
  position: absolute;
  inset: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.main .main__user form {
  width: 70%;
  height: 80%;
  background-color: var(--color-whitebg-300);
  border-radius: 5px;
  overflow: hidden;
}
.main .main__user form header {
  height: 3.5rem;
  background-color: var(--color-blackbg-300);
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.main .main__user form header .title {
  font-size: 1rem;
  position: relative;
  isolation: isolate;
  color: var(--text-light-300);
  text-transform: uppercase;
}
.main .main__user form header .title::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 20px;
  background-color: var(--color-accent-1);
}
.main .main__user form header i {
  color: var(--text-light-300);
  cursor: pointer;
}
.main .main__user form .form__group {
  margin-top: 2rem;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.main .main__user form .formControl label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: capitalize;
  color: var(--color-accent-1);
}
.main .main__user form .formControl input[type=text], .main .main__user form .formControl input[type=password], .main .main__user form .formControl input[type=date], .main .main__user form .formControl input[type=month], .main .main__user form .formControl input[type=number] {
  border: 1px solid var(--color-whitebg-100);
  padding: 0.4rem 0.5rem;
  color: var(--text-dark-300);
  outline: none;
  border-radius: 3px;
  letter-spacing: 0.08rem;
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .main__user form .formControl textarea {
  height: 5rem;
  resize: none;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
  color: var(--text-dark-300);
  border: 1px solid var(--color-whitebg-100);
  outline: none;
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .main__user form .formControl select {
  padding: 0.3rem 0.5rem;
  width: 60%;
  margin-bottom: 2rem;
  border: 1px solid var(--color-whitebg-100);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .main__user form .formControl select:focus, .main .main__user form .formControl select:hover {
  outline: none;
}
.main .main__user form .formControl select option {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0px;
}
.main .main__user form .formControl div {
  align-items: center;
  width: 100%;
}
.main .main__user form .formControl div > input {
  width: 150px;
}
.main .main__user form .formControl div span {
  margin-right: 10px;
  border: 1px solid var(--color-whitebg-100);
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(77, 74, 74, 0.5);
}
.main .main__user form .formControl div div {
  margin-top: 0.4rem;
  gap: 5px;
}
.main .main__user form .formControl div i {
  cursor: pointer;
}
.main .main__user form .formControl div i.active::before {
  color: var(--text-dark-300);
  content: "\f070";
}
.main .main__user form .action__btn {
  margin-top: -0.5rem !important;
  padding: 1.5rem;
}
.main .deleteUser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.main .deleteUser .delContainer {
  padding: 2rem;
  width: 40%;
  background-color: var(--color-whitebg-300);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .deleteUser .delContainer h3 {
  text-align: center;
  font-size: 1rem;
}
.main .deleteUser .delContainer label {
  margin-top: 1rem;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
  padding-top: 0.2rem;
}
.main .deleteUser .delContainer input {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.3rem;
  outline: none;
  border: 1px solid var(--color-blackbg-300);
  border-radius: 3px;
}
.main .deleteUser .delContainer .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main .deleteUser .delContainer .box a {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  color: var(--text-light-300);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--color-blackbg-300);
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
}
.main .deleteUser .delContainer .box a:hover, .main .deleteUser .delContainer .box a:focus {
  background-color: var(--color-blackbg-400);
}
.main .deleteUser .delContainer .box button {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  color: var(--text-light-300);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--color-accent-4);
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
}
.main .deleteUser .delContainer .box button:hover, .main .deleteUser .delContainer .box button:focus {
  opacity: 0.7;
}
.main .details {
  width: 96.5%;
  margin: 2rem auto;
  background-color: var(--color-whitebg-300);
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main .details__card {
  padding: 1rem;
  color: var(--text-dark-200);
  position: relative;
}
.main .details__card .title {
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}
.main .details__card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.2rem;
  width: 3px;
  background-color: var(--color-whitebg-200);
}
.main .details__card p {
  color: var(--text-dark-300);
  text-transform: capitalize;
}
.main .details__card p.tt {
  text-transform: lowercase;
}
.main .action-head {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 2rem;
}
.main .action-head button {
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: var(--color-accent-1);
  color: var(--text-light-400);
  outline: none;
  border: none;
  border-radius: 3px;
}
.main .savings {
  box-shadow: none;
}

.savings__card {
  width: 99%;
  padding: 0 1rem;
  margin: 1.5rem auto 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.savings__card.odd {
  grid-template-columns: repeat(5, 1fr);
}
.savings__card.mnot {
  margin: 0.5rem auto;
}
.savings__card .card {
  border: 1px solid var(--color-whitebg-200);
  padding: 1rem;
  border-radius: 7px;
  position: relative;
}
.savings__card .card::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 13px;
  left: -1px;
  width: 4px;
  background-color: var(--color-accent-1);
}
.savings__card .card:nth-of-type(2)::before {
  background-color: var(--color-accent-2);
}
.savings__card .card:nth-of-type(3)::before {
  background-color: var(--color-accent-3);
}
.savings__card .card:nth-of-type(4)::before {
  background-color: var(--color-accent-4);
}
.savings__card .card p {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  color: var(--text-dark-200);
}
.savings__card .card h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark-300);
}
.savings__card h3 {
  display: flex;
  align-items: center;
  color: var(--color-accent-1);
  font-weight: 300;
}

.savings__table {
  width: 99%;
  margin: 0 auto 0 auto;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}
.savings__table h3 {
  margin-top: 1rem;
}
.savings__table table {
  width: 100%;
  padding: 1rem 1rem 6rem 1rem;
  margin-top: 1rem;
  text-align: left;
  overflow: hidden;
  border-collapse: collapse;
}
.savings__table table thead {
  padding: 1rem;
  color: var(--text-dark-300);
}
.savings__table table thead tr {
  border-bottom: 2px solid var(--color-blackbg-300);
}
.savings__table table thead tr th {
  padding: 1rem 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.055rem;
  font-size: 0.8rem;
}
.savings__table table thead tr th.orderby {
  cursor: pointer;
}
.savings__table table thead tr th.orderby:hover {
  opacity: 0.8;
}
.savings__table table tbody tr {
  margin-top: 0.5rem;
  color: var(--text-dark-300);
}
.savings__table table tbody tr:hover {
  background-color: var(--color-blackbg-200);
  color: var(--text-light-300);
}
.savings__table table tbody tr:hover a {
  color: var(--text-light-300);
}
.savings__table table tbody tr td {
  padding: 1rem 0.5rem;
}
.savings__table table tbody tr td.tc {
  text-align: center;
}
.savings__table table tbody tr td.tu {
  text-transform: capitalize;
}
.savings__table table tbody tr td a {
  color: var(--text-dark-300);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.savings__table table tbody tr td a.edit {
  padding: 0.2rem 0.8rem;
  margin-left: 5px;
  cursor: pointer;
  color: var(--text-light-300);
  background-color: var(--color-accent-1);
  border-radius: 4px;
}
.savings__table table tbody tr td a.edit:hover {
  opacity: 0.7;
}
.savings__table table tbody tr td a div {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
}
.savings__table table tbody tr td a div img {
  width: 100%;
  height: 100%;
}
.savings__table table tbody tr td button {
  padding: 0.3rem 1rem;
  margin: 0 auto;
  background-color: var(--color-accent-2);
  border: none;
  outline: none;
  cursor: pointer;
}
.savings__table table tbody tr td span {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
}
.savings__table table tbody tr td span.approved {
  background-color: rgba(0, 128, 0, 0.5);
}
.savings__table table tbody tr td span.pending {
  background-color: rgba(80, 82, 80, 0.5);
}
.savings__table table tbody tr td span.awaiting {
  background-color: rgba(190, 190, 194, 0.5);
}
.savings__table table tbody tr td span.due {
  background-color: rgba(255, 136, 0, 0.5);
}
.savings__table table tbody tr td span.overdue {
  background-color: rgba(255, 0, 0, 0.5);
}
.savings__table table tbody tr td span.paid {
  background-color: rgba(0, 26, 255, 0.5);
}
.savings__table table tbody tr td span.in {
  background-color: rgba(0, 26, 255, 0.5);
}
.savings__table table tbody tr td span.out {
  background-color: rgba(255, 0, 0, 0.5);
}

.account-details {
  width: 99%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.account-details .account-title {
  font-size: 1.1rem;
  color: var(--text-dark-300);
}
.account-details .actions {
  justify-self: flex-end;
  display: flex;
  margin-left: 2rem;
  gap: 0.2rem;
}
.account-details .actions button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-accent-1);
  color: #ebebeb;
}
.account-details .actions button:nth-last-of-type(1) {
  background-color: var(--color-blackbg-300);
  color: var(--text-white-300);
}
.account-details .actions button:nth-last-of-type(3) {
  background-color: var(--color-accent-2);
  color: #4d4a4a;
}
.account-details .actions button:nth-last-of-type(4) {
  background-color: var(--color-accent-3);
  color: var(--text-dark-300);
}
.account-details .actions button span {
  margin-right: 0.3rem;
}
.account-details .actions button:hover, .account-details .actions button:focus {
  opacity: 0.7;
  cursor: pointer;
}

h2.p {
  margin: 0.5rem 1rem 0 1rem;
  font-size: 1.1rem;
  color: var(--text-dark-300);
}

.details-head {
  width: 99%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0.5rem auto;
}
.details-head a {
  padding: 0.5rem 1rem 1rem 1rem;
  justify-content: center;
  margin-right: 2rem;
  color: var(--text-dark-400);
  font-size: 2.5rem;
}
.details-head a:hover {
  opacity: 0.7;
}
.details-head .details-right {
  display: flex;
  flex-direction: column;
}
.details-head .details-right .p {
  margin: 0.5rem;
  font-size: 1.1rem;
  color: var(--text-dark-300);
}
.details-head .details-right p {
  color: var(--text-dark-100);
  margin-left: 0.5rem;
}
.details-head h3 {
  margin-left: 2rem;
  text-transform: uppercase;
  color: var(--color-accent-1);
  font-weight: 300;
}
.details-head .actions {
  justify-self: flex-end;
  display: flex;
  margin-left: 2rem;
  gap: 1rem;
}
.details-head .actions.mnot {
  margin-left: 0rem;
}
.details-head .actions h4 {
  color: var(--text-dark-300);
}
.details-head .actions button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-400);
}
.details-head .actions button:nth-last-of-type(3) {
  background-color: var(--color-accent-2);
  color: #4d4a4a;
}
.details-head .actions button:nth-last-of-type(2) {
  background-color: var(--color-blackbg-300);
}
.details-head .actions button.deposite_btn {
  background-color: var(--color-accent-2);
  color: #4d4a4a;
}
.details-head .actions button span {
  margin-right: 0.3rem;
}
.details-head .actions button span i {
  transition: transform 0.5s ease-in-out;
}
.details-head .actions button:hover, .details-head .actions button:focus {
  opacity: 0.7;
  cursor: pointer;
}
.details-head .actions .person_btn.active i {
  transform: rotate(180deg);
}
.details-head .actions .edit_btn {
  padding: 0.5rem 1rem;
  background-color: var(--color-whitebg-400);
  border: 1px solid var(--color-blackbg-300);
  font-size: 0.8rem;
  cursor: pointer;
}
.details-head .actions .edit_btn span {
  margin-left: 1rem;
}

.personal__details {
  width: 96.5%;
  margin: 0 auto;
  background-color: var(--color-whitebg-300);
  transition: all 0.5s ease-in-out;
  height: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
  border: 1px solid var(--color-blackbg-300);
  gap: 2rem;
}
.personal__details.active {
  margin-block: 1rem;
  padding: 2rem;
  height: 26rem;
}
.personal__details .personal_info {
  padding: 1rem;
  color: var(--text-light);
  position: relative;
}
.personal__details .personal_info h4 {
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}
.personal__details .personal_info::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.2rem;
  width: 3px;
  background-color: var(--color-whitebg-200);
}

.withdraw_form, .deposite_form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  background-color: rgba(0, 0, 0, 0.537254902);
  z-index: 1000;
  overflow: hidden;
  transition: left 0.5s ease-in-out;
}
.withdraw_form.active, .deposite_form.active {
  left: 0;
}
.withdraw_form form, .deposite_form form {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  width: 400px;
  overflow-y: scroll;
  background-color: var(--color-whitebg-400);
  max-height: 750px;
  padding: 0.3rem 0.3rem;
}
.withdraw_form form header, .deposite_form form header {
  padding: 0.5rem 1rem;
  background-color: var(--color-blackbg-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.withdraw_form form header h4, .deposite_form form header h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--color-whitebg-400);
}
.withdraw_form form header a, .deposite_form form header a {
  display: block;
  padding: 0.5rem 1rem 1rem 1rem;
  justify-content: center;
  color: var(--text-light-400);
  font-size: 2.5rem;
  cursor: pointer;
}
.withdraw_form form header a:hover, .deposite_form form header a:hover {
  opacity: 0.7;
}
.withdraw_form form .withdrawal__body, .deposite_form form .withdrawal__body {
  margin: 2rem 1rem;
}
.withdraw_form form .withdrawal__body.dep, .deposite_form form .withdrawal__body.dep {
  margin: 1rem 1rem;
}
.withdraw_form form .withdrawal__body .error, .deposite_form form .withdrawal__body .error {
  margin-block: 1rem 2rem;
}
.withdraw_form form .withdrawal__body .error p, .deposite_form form .withdrawal__body .error p {
  text-align: center;
  background-color: rgba(255, 151, 151, 0.3137254902);
  padding: 0.4rem;
  color: var(--color-accent-4);
}
.withdraw_form form .withdrawal__body .form-control, .deposite_form form .withdrawal__body .form-control {
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-blackbg-200);
  margin-bottom: 2rem;
}
.withdraw_form form .withdrawal__body .form-control.dep, .deposite_form form .withdrawal__body .form-control.dep {
  margin-bottom: 1rem;
}
.withdraw_form form .withdrawal__body .form-control label, .deposite_form form .withdrawal__body .form-control label {
  letter-spacing: 0.15rem;
  color: var(--text-dark-200);
  border-right: 2px solid var(--color-blackbg-200);
  padding-right: 0.5rem;
}
.withdraw_form form .withdrawal__body .form-control label span, .deposite_form form .withdrawal__body .form-control label span {
  margin-left: 1.5rem;
}
.withdraw_form form .withdrawal__body .form-control select, .deposite_form form .withdrawal__body .form-control select {
  padding: 0.3rem 0rem;
  border: none;
  outline: none;
  width: 55%;
}
.withdraw_form form .withdrawal__body .form-control select option, .deposite_form form .withdrawal__body .form-control select option {
  padding: 0.3rem 1rem;
}
.withdraw_form form .withdrawal__body .form-control h4, .deposite_form form .withdrawal__body .form-control h4 {
  width: 70%;
  letter-spacing: 0.11rem;
  color: var(--text-dark-200);
}
.withdraw_form form .withdrawal__body .form-control h4.sw, .deposite_form form .withdrawal__body .form-control h4.sw {
  width: 55%;
}
.withdraw_form form .withdrawal__body .form-control input, .deposite_form form .withdrawal__body .form-control input {
  width: 60%;
  padding: 0.3rem 1rem;
  outline: none;
  border: none;
  background: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
.withdraw_form form .withdrawal__body a, .deposite_form form .withdrawal__body a {
  display: block;
  padding: 0.2rem 0.5rem;
  background-color: var(--color-accent-1);
  color: var(--text-light-400);
  cursor: pointer;
}
.withdraw_form form .withdrawal__body button, .deposite_form form .withdrawal__body button {
  margin: 1rem 0;
  padding: 0.7rem 2.5rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-200);
  border: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.withdraw_form form .withdrawal__body button:hover, .deposite_form form .withdrawal__body button:hover {
  opacity: 0.7;
}

.apply_savings {
  width: 96.5%;
  margin: 0rem auto;
  transition: all 0.5s ease-in-out;
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  gap: 2rem;
}
.apply_savings.add {
  grid-template-columns: 3fr 1fr;
}
.apply_savings .personal_info {
  padding: 1rem;
  color: var(--text-dark-300);
  position: relative;
  background-color: var(--color-whitebg-300);
}
.apply_savings .personal_info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apply_savings .personal_info div span {
  padding: 0.35rem 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid var(--color-blackbg-200);
  border-radius: 2px;
}
.apply_savings .personal_info div input {
  width: 77%;
}
.apply_savings .personal_info.bgb {
  background-color: var(--color-accent-1);
  color: var(--text-light-400);
}
.apply_savings .personal_info.bgb input {
  border: none;
}
.apply_savings .personal_info.bg {
  background-color: var(--color-whitebg-400);
  padding: 0;
}
.apply_savings .personal_info h4 {
  margin-bottom: 0.1rem;
  font-size: 0.75rem;
  line-height: 1.2rem;
}
.apply_savings .personal_info input {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.4rem 0.5rem;
  background-color: var(--color-whitebg-400);
  border: 1px solid var(--color-blackbg-200);
  outline: none;
  color: var(--text-dark-300);
  border-radius: 3px;
}
.apply_savings .personal_info p {
  margin-top: 1rem;
}
.apply_savings .personal_info button, .apply_savings .personal_info a {
  margin: 0;
  padding: 0.7rem 2.5rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-200);
  border: none;
  letter-spacing: 0.1rem;
  word-wrap: none;
  cursor: pointer;
}
.apply_savings .personal_info button:hover, .apply_savings .personal_info a:hover {
  opacity: 0.7;
}
.apply_savings .personal_info a {
  display: block;
  width: 100%;
}

.toast_container {
  position: fixed;
  top: 3rem;
  right: -320px;
  z-index: 2000;
  background-color: var(--color-whitebg-300);
  padding: 0.5rem;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease-in-out;
}
.toast_container.active {
  right: 1rem;
}
.toast_container .toast {
  background-color: var(--color-whitebg-400);
  position: relative;
  padding-inline: 0.5rem 2rem;
  padding-block: 0.7rem;
  border-radius: 3px;
}
.toast_container .toast p.error {
  color: var(--color-accent-4);
}
.toast_container .toast p.success {
  color: var(--color-accent-2);
}
.toast_container .toast i {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.deleteAccount {
  background-color: var(--color-accent-4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-weight: 500;
  color: var(--text-light-200);
  text-transform: capitalize;
  cursor: pointer;
}
.deleteAccount:hover {
  opacity: 0.8;
}

.goback {
  background-color: var(--color-blackbg-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-weight: 500;
  color: var(--text-light-200);
  text-transform: capitalize;
  cursor: pointer;
}
.goback:hover {
  background-color: var(--color-blackbg-400);
}

.changepass {
  background-color: var(--color-accent-2);
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-weight: 500;
  color: var(--text-dark-300);
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor: pointer;
}
.changepass:hover {
  opacity: 0.8;
}

.savechanges {
  background-color: var(--color-blackbg-400);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-weight: 500;
  color: var(--text-light-400);
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor: pointer;
}
.savechanges.tc {
  padding: 0.6rem 2rem;
  background-color: var(--color-blackbg-300);
}
.savechanges:hover {
  opacity: 0.8;
}

.wrapper404 {
  height: min(100vh, 850px);
  width: 100%;
  background-color: #90ee90;
}
.wrapper404 header {
  height: 5rem;
  display: flex;
  align-items: center;
}
.wrapper404 header a {
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  color: var(--text-dark-300);
}
.wrapper404 header a:hover {
  opacity: 0.7;
}
.wrapper404 header a span {
  font-size: 3rem;
}
.wrapper404 .content {
  width: 100%;
  height: calc(100% - 5rem);
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper404 .content__body {
  margin-top: -3rem;
  padding: 2rem 1rem;
}
.wrapper404 .content__body span {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0 0 3rem 0;
  color: var(--text-dark-300);
}
.wrapper404 .content__body h1 {
  font-size: 3rem;
  margin: 2rem 0;
}
.wrapper404 .content__body p {
  font-size: 1rem;
  margin: 3rem 0;
}
.wrapper404 .content__body a {
  margin: 2rem 0;
  background-color: var(--color-blackbg-400);
  color: var(--text-light-400);
  padding: 1rem 3rem;
  font-size: 1rem;
}
.wrapper404 .content__body a:hover {
  opacity: 0.7;
}
.wrapper404 .content__image {
  margin-top: -5rem;
}
.wrapper404 .content__image img {
  width: 260px;
  -webkit-animation: float 2s infinite alternate;
          animation: float 2s infinite alternate;
}
.wrapper404 .content__image .shadow {
  margin-top: 2rem;
  width: 180px;
  height: 2rem;
  background-color: var(--color-blackbg-300);
  border-radius: 50%;
  filter: blur(10px);
  -webkit-animation: shadow 2s infinite alternate;
          animation: shadow 2s infinite alternate;
}
@-webkit-keyframes float {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes shadow {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes shadow {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

.searchname {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-blackbg-200);
  width: 14rem;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  position: relative;
}
.searchname input {
  outline: none;
  border: none;
  color: var(--text-dark-300);
  padding-right: 0.5rem;
  border-right: 1px solid var(--color-blackbg-200);
  background-color: transparent;
}
.searchname i {
  color: var(--color-blackbg-200);
  position: absolute;
  top: 0.55rem;
  right: 0.8rem;
}

.table_wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
  width: 99%;
  margin: 0 auto;
}
.table_wrapper .add_expense {
  position: relative;
  top: -3rem;
  border-radius: 6px;
  background-color: var(--color-whitebg-300);
  height: 435px;
}
.table_wrapper .add_expense header {
  padding: 1rem 2rem;
}
.table_wrapper .add_expense .body {
  padding: 0 2rem;
}
.table_wrapper .add_expense .body .form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.table_wrapper .add_expense .body .form_control label {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.table_wrapper .add_expense .body .form_control input {
  padding: 0.5rem 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--color-whitebg-100);
  outline: none;
  color: var(--text-dark-300);
  background-color: var(--color-whitebg-400);
}
.table_wrapper .add_expense .body .form_control textarea {
  height: 5rem;
  resize: none;
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
  color: var(--text-dark-300);
  border: 1px solid var(--color-whitebg-100);
  outline: none;
  background-color: var(--color-whitebg-400);
}
.table_wrapper .add_expense .body button {
  margin: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-200);
  border: none;
  letter-spacing: 0.1rem;
  word-wrap: none;
  cursor: pointer;
}
.table_wrapper .add_expense .body button:hover {
  opacity: 0.7;
}

.dashboard_wrapper {
  width: 100%;
  height: calc(100% - 5rem);
  overflow: hidden;
  position: relative;
}

.content_wrapper {
  position: relative;
  width: 96.5%;
  height: 100%;
  margin: 0rem auto;
  display: flex;
  row-gap: 1rem;
}
.content_wrapper .content_scroll {
  height: 37rem;
  width: max(68%, 320px);
  padding-bottom: 4rem;
  margin-right: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}
.content_wrapper .content_scroll::-webkit-scrollbar {
  display: none;
}
.content_wrapper .content_scroll .secondary_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.content_wrapper .content_scroll .secondary_cards .card {
  background-color: var(--color-whitebg-200);
  padding: 2rem;
  color: var(--text-dark-400);
}
.content_wrapper .content_scroll .secondary_cards .card:nth-of-type(1) {
  background-color: var(--color-accent-1);
}
.content_wrapper .content_scroll .secondary_cards .card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: normal;
}
.content_wrapper .content_scroll .secondary_cards .card p {
  font-size: 2rem;
  font-weight: 700;
}
.content_wrapper .content_scroll .secondary_cards .card p span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-left: 0.5rem;
}
.content_wrapper .content_scroll .normal_cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.content_wrapper .content_scroll .normal_cards .card {
  padding: 1.5rem 1rem;
  background-color: #b0ebb6;
}
.content_wrapper .content_scroll .normal_cards .card h3 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: normal;
  color: #78797a;
}
.content_wrapper .content_scroll .normal_cards .card p {
  font-size: 1.2rem;
  font-weight: 700;
}
.content_wrapper .content_scroll .normal_cards .card p span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #383737;
}
.content_wrapper .content_scroll .normal_cards .card:nth-of-type(2) {
  background-color: #eaebb0;
}
.content_wrapper .content_scroll .normal_cards .card:nth-of-type(3) {
  background-color: #b1b0eb;
}
.content_wrapper .content_scroll .normal_cards .card:nth-of-type(4) {
  background-color: #ebe7b0;
}
.content_wrapper .content_scroll .normal_cards .card:nth-of-type(5) {
  background-color: #fa9f9f;
}
.content_wrapper .content_scroll .normal_cards .card:nth-of-type(6) {
  background-color: #fa9fdc;
}
.content_wrapper .expense_list {
  flex-grow: 1;
  height: 580px;
  background-color: var(--color-whitebg-300);
  padding: 1rem 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.content_wrapper .expense_list.mt {
  margin-top: 1rem;
}
.content_wrapper .expense_list::-webkit-scrollbar {
  display: none;
}
.content_wrapper .expense_list .head {
  z-index: 1000;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
.content_wrapper .expense_list .head h2 {
  margin: 0;
}
.content_wrapper .expense_list .head button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #1cff2f;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.content_wrapper .expense_list .head button.active {
  background-color: #8a8b8d;
}
.content_wrapper .expense_list .payment_dates {
  display: block;
  position: relative;
}
.content_wrapper .expense_list .payment_dates > p {
  margin: 1rem 0;
  font-size: 1rem;
}
.content_wrapper .expense_list .payment_dates button {
  position: absolute;
  right: 0;
  top: -0.2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
  border: none;
  cursor: pointer;
}
.content_wrapper .expense_list h3 {
  font-size: 1rem;
}
.content_wrapper .expense_list .card {
  background-color: var(--color-whitebg-400);
  margin: 0.8rem 0;
  padding: 1.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.content_wrapper .expense_list .payment_onetime {
  display: none;
  background-color: var(--color-whitebg-400);
  padding: 1rem;
  position: relative;
}
.content_wrapper .expense_list .payment_onetime .pay {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
  border: none;
  cursor: pointer;
}
.content_wrapper .expense_list .payment_form {
  display: none;
  background-color: var(--color-whitebg-400);
  padding: 1rem;
  position: relative;
}
.content_wrapper .expense_list .payment_form > p {
  margin-top: 0.5rem;
  font-weight: bold;
}
.content_wrapper .expense_list .payment_form .pay {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
  border: none;
  cursor: pointer;
}
.content_wrapper .expense_list form .loan-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.content_wrapper .expense_list form .form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
.content_wrapper .expense_list form .form-control label {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.content_wrapper .expense_list form .form-control input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-blackbg-200);
}
.content_wrapper .expense_list form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-blackbg-300);
  color: var(--text-light-300);
  border: none;
  cursor: pointer;
}

p.err {
  background-color: rgb(247, 183, 183);
  color: red;
  text-align: center;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.tblwrapper_header {
  margin: 0 auto;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tblwrapper_header h2 {
  font-size: 16px;
  margin: 0;
}
.tblwrapper_header h3, .tblwrapper_header h5 {
  margin: 0;
}
.tblwrapper_header p {
  margin: 0;
}
.tblwrapper_header p.box_info {
  font-size: 0.7rem;
}
.tblwrapper_header p.terminal {
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */