*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --font-size_s: .8rem;
    --font-size_m: 1rem;
    --font-size_l: 1.2rem;
    --font-size_xl: 1.5rem;
    --font-size_xxl: 2rem;

    --color-primary: blue;
    --color-secondary: red;
    --color-dark-1: black;
    --color-dark-2: rgba(0, 0, 0, 0.842);
    --color-white-1: white;
    --color-white-2: #ebebeb;

    --dark: #4d4a4a;
}

h1, .h1{
    font-size: var(--font-size_xxl);
}
h2, .h2{
    font-size: var(--font-size_xl);
}
h3, .h3{
    font-size: var(--font-size_l);
}
.h4{
    font-size: var(--font-size_s);
}

// Utilities
.flex{
    display: flex;
}
.flex-c{
    display: flex;
    flex-direction: column;
}

.my1{
    margin: 1rem 0;
}
.my_5{
    margin: .5rem 0;
}
.my2{
    margin: 1.5rem 0;
}
.my3{
    margin: 1.8rem 0;
}
.my4{
    margin: 2rem 0;
}
.mx1{
    margin:0 1rem;
}
.mx2{
    margin:0 1.5rem;
}
.mx3{
    margin:0 1.8rem;
}

.mx4{
    margin:0 2rem;
}

.ml1{
    margin-left: 1rem;
}

.p1{
    padding: 1rem;
}

.py1{
    padding: 1rem 0;
}
.py2{
    padding: 1.5rem 0;
}
.py3{
    padding: 1.8rem 0;
}
.py4{
    padding: 2rem 0;
}
.px1{
    padding:0 1rem;
}
.px2{
    padding:0 1.5rem;
}
.px3{
    padding:0 1.8rem;
}

.px4{
    padding:0 2rem;
}



body{
    font-family: 'System ui', arial;
    font-size: var(--font-size_s);
    width: 100%;
    position: relative;
    background-color: black;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    h1{
        margin-top: 3rem;
        margin-left: 6rem;
        font-size: 1.5rem;
        color: #4d4a4a;
    }

    .login{
        position: absolute;
        left: 6rem;
        top: 6.5rem;
        background-color: rgba($color: #ebebeb, $alpha: .7);
        padding: 2rem 3rem;
        width: 400px;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .7);

        h2{
            margin-bottom: 1rem;
        }

        p{
            font-size: .8rem;
            color: #4d4a4a;
            
            &.err{
                text-align: center;
                background-color: rgba(241, 145, 145, .5);
                padding-block: .5rem;
                border-radius: 4px;
                color: red;
            }

            &:not(.err){
                margin-bottom: 1rem;
            }
        }

        .formControl{
            width: 100%;
            padding: .5rem .5rem;
            // background-color: #1c64ff;
            border: 1px solid #4d4a4a;
            margin-block: 1rem;
            position: relative;
            border-radius: 4px;

            input{
                width: 90%;
                padding: .2rem .5rem;
                outline: none;
                border: none;
                background-color: transparent;
            }

            i{
                position: absolute;
                top: .75rem;
                right: .8rem;
                color: #8a8b8d;

                &:is(.password){
                    cursor: pointer;

                    &.active::before{
                        color: #4d4a4a;
                        content: '\f070';
                    }
                }
            }

        }

        span{
            margin-top: 1rem;
            text-transform: uppercase;
        }

        button{
            width: 100%;
            margin-block: 1rem 2rem;
            padding: .5rem;
            background-color: #4d4a4a;
            border: none;
            color: #ebebeb;
            border-radius: 5px;
            cursor: pointer;
        }

        hr{
            margin-bottom: 1rem;
        }
    }
}

.sidebar{
    width: 230px;
    height: 100%;
    max-height: 650px;
    position: absolute;
    top: 0;
    background-color: #ebebeb;

    &__header{
        margin-bottom: 1rem;
        background-color: #4d4a4a;
        margin: .3rem .3rem 1.5rem .3rem;
        border-radius: 7px;
        h1{
            color: #ebebeb;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__nav{
        width: 100%;

        .nav__list{
            width: 100%;

            .list__item{
                width: 100%;

                .item__link{
                    display: block;
                    width: 100%;
                    color: #4d4a4a;
                    text-transform: uppercase;
                    position: relative;
                    padding: .7rem 0 .7rem 1rem;
                    cursor: pointer;

                    &:hover{
                        background-color: #4d4a4a;
                        color: #ebebeb;
                    }
                    
                    &.active{
                        color: #ebebeb;
                        background-image: linear-gradient(to right,#4d4a4a,#4d4a4a ,#4d4a4a ,#4d4a4a67, white);
                        
                        i.arrow{
                            color: #4d4a4a;
                        }
                    }

                    &.active::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 5px;
                        background-color: red;
                    }

                    i{
                        margin-right: 1rem;
                    }

                    i.arrow{
                        margin-left: 95px;
                        color: #4d4a4a;
                    }

                    ol{
                        display: none;
                        margin-top: 1rem;
                        margin-left: 1rem;

                        &.hide{
                            display: flex;
                            flex-direction: column;
                        }

                        li{
                            padding-right: 1rem;
                            a{
                                display: block;
                                font-size: .7rem;
                                padding: .6rem 0 .6rem .6rem;
                                color: #4d4a4a;
                                margin-bottom: .2rem;
                                border-radius: 5px;
                                background-color: #ebebeb;
                                
                                &:hover{
                                    color: #4d4a4a;
                                    background-color: #ebebeb;
                                    opacity: .7;
                                }

                                &.active{
                                    background-color: #1c64ff;
                                    background-image: none;

                                    &::before{
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }

    &__footer{
        align-items: center;
        position: absolute;
        bottom: 0;
        padding: 1rem 1rem;
        background-color: #4d4a4a;
        margin: 1rem;
        border-radius: 5px;
        color: #ebebeb;
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .7);

        h3{
            font-size: .8rem;
            text-transform: capitalize;
            margin: .5rem 0;
            font-weight: 300;
            letter-spacing: .03rem;
        }

        p{
            text-transform: capitalize;
            letter-spacing: .03rem;
            margin: .2rem 0;
        }
    }
}

.btn{
    padding: .7rem 3rem;
    width: 100%;
    background-color: #1c64ff;
    border: none;
    color: #ebebeb;
    position: relative;
    top: 0;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .5);
    cursor: pointer;

    &.red{
        background-color: rgb(253, 70, 70);
    }
    &:hover.red{
        background-color: red;
        box-shadow: 0px 0px 15px red;
    }

    &:hover{
        background-color: blue;
        top: -2px;
        box-shadow: 0px 0px 15px blue;
    }
}

.form-container{
    width: 100%;
    justify-content: space-between;
}

.new{
    align-items: center;
    width: 260px;
    // background-color: #000000;
    margin-right: 1rem;

    .formControl{
        margin-bottom: 1.5rem;
        width: 90%;
    }
}

.main{
    width: calc(100% - 230px);
    background-color: white;
    height: 100%;
    margin-left: 230px;
    position: relative;
    padding-top: 5px;

    .wrapper{
        width: 100%;
        height: calc(100% - 5rem);
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar{
                display: none;
            }

        h2{
            margin: 1rem;
            text-transform: uppercase;
            &.h4{
                // margin-top: 2rem;
                letter-spacing: .15rem;
                color: #1c64ff;
            }     
            
            // &.p{
            //     text-transform: capitalize;
            //     font-size: 1.1rem;
            //     font-weight: 400;

            //     span{
            //         font-weight: bold;
            //         color: #2c2c2c;
            //     }
            // }
        }

        // p{
        //     margin: -.5rem 1rem;
        //     color: #8a8b8d;
        // }
    }

    &__header{
        position: sticky;
        top: 0;
        height: 4.7rem;
        width: 99%;
        z-index: 1000;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        background-color: #4d4a4a;
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: .5);

        h2{
            font-weight: 400;
            color: #ebebeb;
            text-transform: uppercase;
        }

        .search{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: .3rem 0;
            width: 500px;
            min-width: 300px;
            background-color: black;
            border-radius: 4px;
            
            &__input{
                line-height: 1.2;
                letter-spacing: 1px;
                width: calc(100% - 22%);
                padding: .2rem .5rem .2rem .5rem ;
                background-color: transparent;
                outline: none;
                border: none;
                color: #ebebeb;
                // border-bottom: 1px solid #ebebeb;
            }

            &__btn{
                width: calc(100% - 80%);
                padding: .3rem 0;
                margin-right: .2rem;
                background-color: #4d4a4a;
                color: #ebebeb;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        .user{
            width: 200px;
            min-width: 150px;
            height: 35px;
            background-color: black;
            position: relative;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            cursor: pointer;
            align-items: center;

            span{
                width: 45px;
                height: 45px;
                position: relative;
                left: -10px;
                border: 3px solid rgba($color: #4d4a4a, $alpha: .5);
                background-color: black;
                border-radius: 50%;
                font-size: 1.5rem;
                color: #ffffff;
                align-items: center;
                justify-content: center;
            }
            p{
                color: #ebebeb;
            }
            i{
                color: #ebebeb;
                position: absolute;
                right: 1rem;
            }
        }

        .userdetails{
            position: absolute;
            right: 1rem;
            top: 4rem;
            background-color: rgba($color: black, $alpha: 1);
            border-radius: 5px;
            overflow: hidden;
            display: none;
            flex-direction: column;
            align-items: center;
            width: 12rem;
            transition: .5s ease;
            z-index: 1000;
            padding: 0 .2rem;

            p{
                padding: .3rem 0;
                width: 100%;
                color: #ebebeb;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid #ebebeb;
            }

            a{
                margin: .2rem;
                font-size: .8rem;
                padding: .2rem 0 !important;
                width: 100%;
                color: #ebebeb;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                letter-spacing: 1px;

                &:hover,&:focus{
                    background-color: #ebebeb;
                    color: black;
                }
            }

            button{
                padding: .3rem 2.5rem;
                color: #ebebeb;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                margin-bottom: .2rem;
                background-color: transparent;
                font-size: .8rem;
                letter-spacing: 1px;
                text-transform: capitalize;

                &:hover,&:focus{
                    background-color: #ebebeb;
                    color: black;
                }
            }
        }
    }

    .cards{
        width: 99%;
        margin: .5rem auto;
        justify-content:space-between;
        flex-wrap: wrap;
        gap: 10px;

        &__card{
            width: 270px;
            background-color: #ebebeb;
            border-radius: 8px;
            margin-bottom: .3rem;
            position: relative;
            padding: 1rem 1rem 1rem 1rem;
            box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: .5);


            &:nth-of-type(1){
                background-color: #4d4a4a;

                .icon--first{
                    color: rgb(27, 94, 236);
                    transform: rotate(225deg);
                    padding: .5rem;
                    background-color: rgba(27, 94, 236, 0.2);
                    border-radius: 50%;
                }

                .icon__primary{
                    color: white;
                }

                p{
                    color: #ebebeb;
                }
    
                h2{
                    color: #ebebeb;
                    
                    span{
                        border: 1px solid #ebebeb;
                    }
                }
            }

            &:nth-of-type(3){
                .icon__primary{
                    color: red;
                }
            }

            .icon{
                padding: .5rem;
                font-size: 16px;
                margin-bottom: 1rem;
            }

            .icon--second{
                color: green;
                transform: rotate(45deg);
                background-color: rgba(27, 236, 27, 0.2);
                border-radius: 50%;
            }

            .icon--third{
                color: red;
                transform: rotate(225deg);
                background-color: rgba(236, 41, 27, 0.2);
                border-radius: 50%;
            }
            .icon--fourth{
                color: rgb(255, 1, 175);
                transform: rotate(135deg);
                background-color: rgba(240, 12, 221, 0.2);
                border-radius: 50%;
            }

            .icon__primary{
                color: green;
                font-size: 40px;
                margin: 1rem 0;
            }

            p{
                font-size: 1rem;
                margin-bottom: 0rem;
                font-weight: 400;
                color: #4d4a4a;
            }

            h2{
                font-weight: 400;  
                display: flex;
                align-items: center;
                color: #4d4a4a;
                text-transform: capitalize;
                font-size: var(--font-size_s);
                margin-left: 0;
            }
        }

    }

    &__table, .unapproved__table{
        width: 99%;
        margin: 0 auto 1rem auto;

        table{
            border-radius: 5px;
            width: 100%;
            margin-top: .5rem;
            text-align: left;
            overflow: hidden;
            border-collapse: collapse;
            border-top: 1px solid #ffffff;
            box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .2);

            thead{
                box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: .3);
                
                tr{
                    background-color: #4d4a4a !important;
                }
            }

            th{
                color: #ebebeb;
                padding: .5rem .5rem;
                text-transform: uppercase;
                font-size: .8rem;
                &.tc{
                    text-align: center;
                }
            }   

            td{
                padding: .5rem .5rem;

                &.tc{
                    text-align: center;
                }

                a{
                    color: #1c64ff;

                    &.edit{

                        padding: .2rem .8rem;
                        margin-left: 5px;
                        cursor: pointer;
                        color: #ebebeb;
                        background-color: #1c64ff;
                        border-radius: 4px;

                        &:hover{
                            background-color: blue;
                        }
                    }
                }

                button{
                    padding: .2rem .8rem;
                    border-radius: 4px;
                    border: none;
                    cursor: pointer;
                    color: #ebebeb;

                    &.grant{
                        background-color: rgba(245, 8, 185, 0.5);

                        &:hover{
                            background-color: rgb(245, 8, 185);
                        }
                    }

                    &.enable{
                        background-color: rgba(0, 128, 0, .5);

                        &:hover{
                            background-color: green;
                        }
                    }
                    &.disable{
                        background-color: rgba(80, 82, 80, 0.5);
                        &:hover{
                            background-color: black;
                            
                        }
                    }

                    
                }

                span{
                    padding: .2rem .8rem;
                    border-radius: 4px;
                    // background-color: #4d4a4a;

                    &.approved{
                        background-color: rgba(0, 128, 0, .5);
                    }
                    &.pending{
                        background-color: rgba(80, 82, 80, 0.5);
                    }
                    &.awaiting{
                        background-color: rgba(190, 190, 194, 0.5);
                    }
                    &.due{
                        background-color: rgba(255, 136, 0, 0.5);
                    }
                    &.overdue{
                        background-color: rgba(255, 0, 0, 0.5);
                    }
                    &.paid{
                        background-color: rgba(0, 26, 255, 0.5);
                    }

                    &.in{
                        background-color: rgba(0, 26, 255, 0.5);
                    }

                    &.out{
                        background-color: rgba(255, 0, 0, 0.5);
                    }

                }
                
            }

            tr:nth-child(odd){
                background-color: #ffffff;
            }

            tr:nth-child(even){
                background-color: #ebebeb;
            }
        }
    }

    .unapproved__table{
        padding: 1rem 0;
    }

    .action__btn{
        width: 99%;
        // margin: 1rem auto;

        margin: 2rem auto .7rem auto;
        justify-content: end;

        &.jcs{
            margin-top: 0;
            justify-content: flex-start;
        }

        a{
            // justify-self: end;
            background-color: #ff641c;
            padding: .4rem 1rem;
            color: #ebebeb;
            border-radius: 4px;

            i{
                margin-left: .5rem;
            }

            &.disable{
                background-color: #4d4a4a;
                margin-left: 1rem;
                padding: .7rem 1rem;

                &:hover{
                    background-color: #000000;
                    top: -2px;
                    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .5) ;
                }
            }
        }

        button{
            cursor: pointer;
            padding: .7rem 3rem;
            margin-left: 1rem;
            background-color: #1c64ff;
            border: none;
            color: #ebebeb;
            position: relative;
            top: 0;
            transition: all .5s ease-in-out;
            text-transform: uppercase;
            border-radius: 4px;
            box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .5);

            &.mro{
                margin-left: 0;
            }

            &:hover{
                background-color: blue;
                top: -2px;
                box-shadow: 0px 0px 15px blue;
            }

            &.disable{
                background-color: #4d4a4a;

                &:hover{
                    background-color: #000000;
                    top: -2px;
                    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .5) ;
                }
            }
        }
    }
    
    .filter{
        width: 99%;
        margin: .7rem auto;
        padding: 1rem;
        background-color: #ebebeb;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: .5);

        button{
            padding: .7rem 3rem;
            margin-left: 1rem;
            background-color: #1c64ff;
            border: none;
            color: #ebebeb;
            position: relative;
            top: 0;
            transition: all .5s ease-in-out;
            text-transform: uppercase;
            border-radius: 4px;
            box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .5);

            &:hover{
                background-color: blue;
                top: -2px;
                box-shadow: 0px 0px 15px blue;
            }

            &.disable{
                background-color: #4d4a4a;

                &:hover{
                    background-color: #000000;
                    top: -2px;
                    box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .5) ;
                }
            }
        }

        &__actions{
            a:nth-of-type(1).active{
                background-color: #1c64ff;
                padding: .4rem 1rem;
                color: #ebebeb;
                border-radius: 4px;
                cursor: pointer;

                i{
                    font-size: 10px;
                    margin-left: .5rem;
                }

                &::before{
                    position: absolute;
                    width: 0px;
                    height: 0;
                }

                &:hover::before{
                    width: 0px;
                }
            }
    
            a{
                margin-right: 1.5rem;
                padding: .4rem 0;
                font-weight: 700;
                position: relative;
                color: #4d4a4a;
                transition: all .5s ease-in-out;
                isolation: isolate;
                cursor: pointer;

                &.active{
                    color: #1c64ff;
                    border-bottom: 2px solid #1c64ff;
                }
    
                &:not(.active)::before{
                    position: absolute;
                    content: "";
                    bottom: 0;
                    width: 0%;
                    background-color: #4d4a4a;
                    height: 2px;
                    transition: all .5s ease-in-out;
                }
    
                &:not(.active):hover::before{
                    width: 100%;
                }
            }
        }

        &__time{
            .day, .year, .month{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                margin-block: .2rem;
                background-color: #8a8b8d;
                border-radius: 3px;
                color: #ebebeb;
                cursor: pointer;

                &.active{
                    background-color: rgba(0, 128, 0, .7);
                }
            }

            input{
                border: none;
                padding: .2rem .5rem;
                background-color: #4d4a4a;
                color: #ebebeb;
                outline: none;
                border-radius: 3px;
                display: none;
            }

            a:nth-of-type(1){
                padding: .35rem .5rem;
                color: #4d4a4a;
                border-radius: 4px;
                cursor: pointer;
                &.active{
                    background-color: rgba(0, 128, 0, .7);
                    color: #ebebeb;
                }
            }
        }
    }

    .apply{
        width: 99%;
        margin: 1rem auto 1rem auto;
        padding: 0 1rem;

        .title{
            font-size: 1rem;
            position: relative;
            isolation: isolate;
            color: #4d4a4a;

            &::before{
                position: absolute;
                content: "";
                bottom: -4px;
                left: 0;
                height: 2px;
                width: 20px;
                background-color: #4d4a4a;
            }
        }

        .form{
            margin-top: 2rem;
            margin-bottom: 3rem;

            &__group{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2rem;

                &.less{
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            div{
                .btn{
                    width: 50%;
                    padding: .4rem 1rem;
                    background-color: #4d4a4a;
                    font-size: .7rem;
                    box-shadow: none;

                    &:hover{
                        top: 0;
                        box-shadow: none;
                        opacity: .8;
                    }


                }
            }
            
            .hiddenone,.hiddentwo{
                display: none;
            }

            .formControl{

                label{
                    margin-bottom: .5rem;
                    font-size: .75rem;
                    text-transform: capitalize;
                    color: #1c64ff;
                }

                select{
                    padding: .3rem .5rem;
                    width: 60%;
                    margin-bottom: 2rem;
                    border: 1px solid #a3a2a2;
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
    
                    &:focus,&:hover{
                        outline: none;
                    }
    
                    option{
                        cursor: pointer;
                        padding: .5rem 1rem;
                        border-radius: 0px;
                    }
                }
                
                input[type="text"], input[type="password"], input[type="date"], input[type="month"], input[type="number"]{
                    border: 1px solid #a3a2a2;
                    padding: .4rem .5rem;
                    color: #4d4a4a;
                    outline: none;
                    border-radius: 3px;
                    letter-spacing: .08rem;
                    box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
                }

                textarea{
                    height: 5rem;
                    resize: none;
                    padding: .4rem .5rem;
                    border-radius: 3px;
                    color: #4d4a4a;
                    border: 1px solid #a3a2a2;
                    outline: none;
                    box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
                }

                div{
                    // justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    

                    span{
                        margin-right: 10px;
                        border: 1px solid #a3a2a2;
                        padding: .4rem .5rem;
                        border-radius: 4px;
                        box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
                    }

                    div{
                        margin-top: .4rem;
                        gap: 5px;
                    }
                }
            }
        }
    }

    .main__user{
        position: absolute;
        inset: 0;
        z-index: 2000;
        background-color: rgba($color: #000000, $alpha: .5);
        display: none;
        align-items: center;
        justify-content: center;
        

        form{
            width: 70%;
            height: 80%;
            background-color: #ebebeb;
            border-radius: 5px;
            overflow: hidden;

            header{
                // 
                height: 3.5rem;
                background-color: #4d4a4a;
                align-items: center;
                justify-content: space-between;
                padding: 0 1.5rem;

                .title{
                    font-size: 1rem;
                    position: relative;
                    isolation: isolate;
                    color: #ebebeb;
                    text-transform: uppercase;
                    

                    &::before{
                        position: absolute;
                        content: "";
                        bottom: -4px;
                        left: 0;
                        height: 3px;
                        width: 20px;
                        background-color: #1c64ff;
                    }
                }

                i{
                    color: #ebebeb;
                    cursor: pointer;
                }
            }

            .form__group{
                margin-top: 2rem;
                padding: 0 1.5rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
            }
            

            .formControl{

                label{
                    margin-bottom: .5rem;
                    font-size: .75rem;
                    text-transform: capitalize;
                    color: #1c64ff;
                }
                
                input[type="text"], input[type="password"], input[type="date"], input[type="month"], input[type="number"]{
                    border: 1px solid #a3a2a2;
                    padding: .4rem .5rem;
                    color: #4d4a4a;
                    outline: none;
                    border-radius: 3px;
                    letter-spacing: .08rem;
                    box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
                }

                textarea{
                    height: 5rem;
                    resize: none;
                    padding: .4rem .5rem;
                    border-radius: 3px;
                    color: #4d4a4a;
                    border: 1px solid #a3a2a2;
                    outline: none;
                    box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
                }

                select{
                    padding: .3rem .5rem;
                    width: 60%;
                    margin-bottom: 2rem;
                    border: 1px solid #a3a2a2;
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);
    
                    &:focus,&:hover{
                        outline: none;
                    }
    
                    option{
                        cursor: pointer;
                        padding: .5rem 1rem;
                        border-radius: 0px;
                    }
                }

                div{

                    & > input{
                        width: 150px;
                    }
                    // justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    span{
                        margin-right: 10px;
                        border: 1px solid #a3a2a2;
                        padding: .4rem .5rem;
                        border-radius: 4px;
                        box-shadow: 2px 2px 3px rgba($color: #4d4a4a, $alpha: .5);

                        
                    }

                    div{
                        margin-top: .4rem;
                        gap: 5px;
                    }

                    i{
                        cursor: pointer;
    
                        &.active::before{
                            color: #4d4a4a;
                            content: '\f070';
                        }
                    }
                }
            }

            .action__btn{
                margin-top: -.5rem !important;
                padding: 1.5rem;
            }
        }
    }

    .deleteUser{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        display: none;
        align-items: center;
        justify-content: center;

        .delContainer{
            padding: 2rem;
            width: 40%;
            background-color: #ebebeb;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3{
                text-align: center;
                font-size: 1rem;
            }

            label{
                margin-top: 1rem;
                font-size: .8rem;
                margin-bottom: .4rem;
                font-weight: bold;
                padding-top: .2rem;
            }

            input{
                padding: .5rem .5rem;
                margin-bottom: .3rem;
                outline: none;
                border: 1px solid #4d4a4a;
                border-radius: 3px;

                // &:focus, &:hover{
                //     // border: 1px solid $secondarylight;
                // }
            }

            .box{
                display: flex;
                justify-content: space-between;
                width: 100%;

                a{
                    margin-top: 3rem;
                    padding: .5rem 1rem;
                    color: #ebebeb;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    background-color: #4d4a4a;
                    // color: $accentcolor;
                    font-size: .8rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    border-radius: 2px;
    
                    &:hover,&:focus{
                        background-color: #000000;
                    }

                }

                button{
                    margin-top: 3rem;
                    padding: .5rem 1rem;
                    color: #ebebeb;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    background-color: rgb(247, 56, 56);
                    // color: $accentcolor;
                    font-size: .8rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    border-radius: 2px;
    
                    &:hover,&:focus{
                        background-color: red;
                    }

                    // &.deletebtn{
                    //     padding: .8rem 1rem;
                    //     background-color: rgb(247, 56, 56);
                    // }
                }
            }
        }
    }

    .details{
        display: grid;
        width: 99%;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin: 1rem auto;
        padding: 1rem;
        // background-color: #ebebeb;
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .2);

        &__card{
            background-color: #ebebeb;
            padding: .5rem;
            border-radius: 8px;
            box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .2);
            
            .title{
                margin-bottom: .7rem;
            }

            .content{
                letter-spacing: .095rem;
            }
        }
    }

    .action-head{
        margin-top: .6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 99%;
        height: 2rem;

        button{
            padding: .4rem 1rem;
            cursor: pointer;
            background-color: #1c64ff;
            color: #ffffff;
            outline: none;
            border: none;
            border-radius: 3px;
        }
    }

    .payment{
        position: absolute;
        inset: 0;
        background-color: #00000045;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        
        
        
        &__card{
            background-color: #ffffff;
            width: 400px;
            
            header{
                padding: .3rem;   
                background-color: #4d4a4a;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: space-between;

                i{
                    margin-right: 1.5rem;
                    cursor: pointer;
                }
            }

            .payment__details{
                background-color: #fff;
                padding: .5rem;
                border-radius: 8px;
                box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .2);
                display: flex;
                justify-content: space-between;
                &.disabled{
                    background-color: #ebebeb;

                    input{
                        outline: none;
                        border: 1px solid #ebeb;
                        border-radius: 3px;
                        background-color: transparent;
                        pointer-events: none;
                    }

                    .payment__status{
                        button{
                            background-color: #ebeb;
                            pointer-events: none;
                        }
                    }
                }
                
                .title{
                    margin-bottom: .7rem;
                }
                input{
                    padding: .3rem .5rem;
                    outline: none;
                    border: 1px solid #4d4a4a;
                    border-radius: 3px;
                    background-color: transparent;
                }

                .payment__status{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    button{
                        justify-self: flex-end;
                        padding: .4rem .5rem;
                        cursor: pointer;
                        background-color: #1c64ff;
                        color: #ffffff;
                        outline: none;
                        border: none;
                        border-radius: 3px;
                    }
                }
            }
        }

        
    }

    .savings{
        box-shadow: none;
    }
}



.savings__card{
    width: 99%;
    padding: 0 1rem;
    margin: .5rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .card{
        border: 1px solid #dfdfdf;
        padding: 1rem;
        border-radius: 7px;
        position: relative;
        
        &::before{
            content: "";
            position: absolute;
            top: 15px;
            bottom: 13px;
            left: -1px;
            width: 4px;
            background-color: #1c64ff;
        }

        &:nth-of-type(2)::before{
            background-color: #1cff2f;
        }
        
        &:nth-of-type(3)::before{
            background-color: #ff1cbb;
        }
        
        &:nth-of-type(4)::before{
            background-color: #ff371c;
        }

        p{
            font-size: .7rem;
            margin-bottom: 1rem;
            color: #8a8b8d;
        }

        h4{
            font-size: 1rem;
            font-weight: 600;
        }

    }
}

.savings__table{
    width: 99%;
    margin: 0 auto 0 auto;
    padding: 0 1rem;
    table{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        text-align: left;
        overflow: hidden;
        border-collapse: collapse;
        
        thead{
            // border-bottom: 2px solid #4d4a4a;
            padding: 1rem;
            tr{
                border-bottom: 2px solid #4d4a4a;
                th{
                    padding: 1rem .5rem;
                    text-transform: capitalize;
                    letter-spacing: .055rem;
                    font-size: .8rem;
                }
            }
        }
        tbody{
            
            tr{
                margin-top: .5rem;
                color: #4d4a4a;
                &:hover{
                    background-color: #2c2c2c;
                    color: #ebebeb;

                    a{
                        color: #ebebeb;
                    }
                }
                td{
                    padding: 1rem .5rem;
    
                    &.tc{
                        text-align: center;
                    }
    
                    a{
                        color: #4d4a4a;
                        font-weight: bold;
    
                        &.edit{
    
                            padding: .2rem .8rem;
                            margin-left: 5px;
                            cursor: pointer;
                            color: #ebebeb;
                            background-color: #1c64ff;
                            border-radius: 4px;
    
                            &:hover{
                                background-color: blue;
                            }
                        }
                    }
    
                }
            }
        }
    }
}

.account-details{
    width: 99%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;

    .account-title{
        font-size: 1.1rem;
        color: #4d4a4a;
    }

    .actions{
        justify-self: flex-end;
        display: flex;
        margin-left: 2rem;
        gap: .2rem;
        
        button{
            padding: .5rem 1rem;
            border: none;
            background-color: #1c64ff;
            color: #ebebeb;

            &:nth-last-of-type(1){
                background-color: #2c2c2c;
            }
            &:nth-last-of-type(3){
                background-color: #8fff78;
                color: #4d4a4a;
            }

            span{
                margin-right: .3rem;
            }

            &:hover, &:focus{
                opacity: .7;
                cursor: pointer;
            }
        }
    }
}

h2.p{
    margin: .5rem 1rem 0 1rem;
    font-size: 1.1rem;
    color: #4d4a4a;
}

.details-head{
    width: 99%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: .5rem auto;

    a{
        padding: .5rem 1rem 1rem 1rem; 
        justify-content: center;
        margin-right: 2rem;
        color: #000000;
        font-size: 2.5rem;

        &:hover{
            opacity: .7;
        }
    }

   

    .details-right{
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        .p{
            margin: .5rem;
            font-size: 1.1rem;
            color: #4d4a4a;
        }
        p{
            color: #a3a2a2;
        }
    }

    .actions{
        justify-self: flex-end;
        display: flex;
        margin-left: 2rem;
        gap: 1rem;

        &.mnot{
            margin-left: 0rem;
        }
        
        button{
            padding: .5rem 1rem;
            border: none;
            background-color: #4d4a4a;
            color: #ebebeb;

            &:nth-last-of-type(3){
                background-color: #8fff78;
                color: #4d4a4a;
            }

            &:nth-last-of-type(2){
                background-color: #2c2c2c;
            }

            &.deposite_btn{
                background-color: #8fff78;
                color: #4d4a4a;
            }
            span{
                margin-right: .3rem;

                i{
                    transition: transform .5s ease-in-out;
                }
            }

            &:hover, &:focus{
                opacity: .7;
                cursor: pointer;
            }
        }

        .person_btn.active{
            i{
                transform: rotate(180deg);
            }
        }
    }
}



.personal__details{
    width: 96.5%;
    margin: 0 auto;
    background-color: #4d4a4a;
    transition: all .5s ease-in-out;
    height: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    border: 1px solid #4d4a4a;
    gap: 2rem;
    

    &.active{
        margin-block: 1rem;
        padding: 2rem;
        height: 21rem;
    }

    .personal_info{
        padding: 1rem;
        color: #dfdfdf;
        position: relative;

        h4{
            margin-bottom: .5rem;
            font-size: .7rem;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2.2rem;
            width: 3px;
            background-color: #dfdfdf;
        }
    }
}

.withdraw_form, .deposite_form{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    background-color: #00000089;
    z-index: 1000;
    overflow: hidden;
    transition: left .5s ease-in-out;

    &.active{
        left: 0;
    }

    form{
        position: absolute;
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        width: 400px;
        background-color: #ffffff;
        max-height: 650px;
        padding: .3rem .3rem;

        header{
            padding: .5rem 1rem;
            background-color: #4d4a4a;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4{
                font-size: 1.5rem;
                text-transform: capitalize;
                color: #fff;
            }

            a{
                display: block;
                padding: .5rem 1rem 1rem 1rem; 
                justify-content: center;
                color: #fff;
                font-size: 2.5rem;
                cursor: pointer;
        
                &:hover{
                    opacity: .7;
                }
            }
        }

        .withdrawal__body{
            margin: 2rem 1rem;

            .error{
                margin-block: 1rem 2rem;
                p{
                    
                    text-align: center;
                    background-color: #ff979750;
                    padding: .4rem;
                    color: red;
                }
            }

            .form-control{
                padding-block: .5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 2px solid #8a8b8d;
                margin-bottom: 2rem;

                label{
                    letter-spacing: .15rem;
                    color: #8a8b8d;
                    border-right:  2px solid #8a8b8d;
                    padding-right: .5rem;
                    span{
                        margin-left: 1.5rem;
                    }
                }

                h4{
                    width: 70%;
                    letter-spacing: .11rem;
                    color: #8a8b8d;

                    &.sw{
                        width: 55%;
                    }
                }

                input{
                    width: 60%;
                    padding: .3rem 1rem;
                    outline: none;
                    border: none;
                    background: none;
                    font-weight: bolder;
                    letter-spacing: .1rem;
                }
            }

            button{
                margin: 1rem 0;
                padding: .7rem 2.5rem;
                background-color: #2c2c2c;
                color: #dfdfdf;
                border: none;
                letter-spacing: .1rem;
                cursor: pointer;

                &:hover{
                    opacity: .7;
                }
            }
        }
    }
}